body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background: #364051 !important;
    
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 95%;
}

.sidenav a {
  padding: 12px 8px 15px 40px;
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.col-lg-3{
  background: #8EB4F6;
  margin:2%;
  height:90px;
}

.sidenav a:hover {
  color: #f1f1f1;
    text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#heading1
{
   font-family: 'Pacifico', cursive;
    font-size: 90px;
    letter-spacing: 1.5px;
    color: #D4D9E3;
    font-weight: 100;
    letter-spacing: 5px;
}
#heading2
{
    margin-left: 470px !important;
    margin-top: -20px;
}
#heading3
{
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    color: #D4D9E3 !important;
    font-weight: 100;
    letter-spacing: 5px;
   
}
#heading
{
    margin-left: 320px;
    margin-top: 150px;
}
.img1
{
    width: 12%;
    display: inline;
}
.main
{
    
    font-size: xx-large;
    font-family: Pacifico;
    padding: 5px;
    
}
#message
{
      margin-left: 520px;
    margin-top: 40px;
    width: 470px;
    height: 360px;
    box-shadow: 1px 1px 10px 0.5px #000;
    background: #8EB4F6;
    font-size: x-large;
    border-color: #8EB4F6;
    padding-left: 10px;
    font-family: sans-serif;
}
#message:focus
{
    outline: none;
}
#mybutton
{
    margin-left: 910px;
    margin-top: 20px;
    background: #D4D9E3;
    font-weight: 200;
    width: 80px;
    height: 50px;
    color: #000;
    border-color: #7392D1;
}
#mybutton:hover
{
    background: #5874B0;
}
#mybutton:focus{
    box-shadow: none;
}
.content1
{
    overflow: auto;
    text-align: justify;
    width: 333px;
    height: 400px;
    background: #fff;
    box-shadow: 1px 1px 10px 0.5px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 10px;
    background: #8EB4F6;
    
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .size {
    width:100%;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .size1 {
    width:40%;
  }
}
#home
{
    color: #D4D9E3 !important;
}
#home:hover
{
    text-decoration: none;
    font-size: 33px;
    color:  #D4D9E5;
}
.des
{
    margin-left: 130px;
    padding-top: 50px;
    font-size: 22px;
    color: #D4D9E3;
}
.des1
{
    margin-left: 600px;
    margin-top: 190;
    padding-top: 50px;
    font-size: 22px;
    color: #D4D9E3;
}
.content
{
    display: flex;
    flex-wrap: wrap;
}
#faltu
{
    margin-left: 750px;
    width: 70px;
    height: 40px;
    margin-top: 540px;
    padding: 0px 5px 0px 5px;
}
#faltu:hover
{
    background: #D4D9E3;
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.img2
{
    width: 3%;
}